In [ ]:
import sqlite3
banco = sqlite3.connect('aula_8.db')

In [ ]:
cursor = banco.cursor()

In [ ]:
#Criando Tabela Funcionarios
cursor.execute("""
CREATE TABLE "Funionarios" (
    "Codigo"	INTEGER,
    "PrimeiroNome"	TEXT,
    "SegundoNome"	TEXT,
    "UltimoNome"	TEXT,
    "DataNasci"	TEXT,
    "CPF"	TEXT,
    "RG"	TEXT,
    "Endereco"	TEXT,
    "CEP"	TEXT,
    "Cidade"	TEXT,
    "Fone"	TEXT,
    "CodigoDepartamento"	INTEGER,
    "Funcao"	TEXT,
    "Salario"	INTEGER,
    PRIMARY KEY("Codigo")
);
""")

In [ ]:
#Populando a tabela FuncionÃ¡rios
import random 
nomes = ['JOSE', 'MARIA', 'JOAO', 'MONICA', 'ESTER'] 
DataNasci = ['01/01/1950', '05/09/1983', '11/04/2000', '05/05/1980', '31/03/1992']
CPF = ['111.111.111-11', '222.222.222-22', '333.333.333-33', '444.444.444-44', '555.555.555-55']
RG = ['111-1', '222-2', '333-3', '444-4', '555-5']
Endereco = ['CASA_1', 'CASA_2', 'CASA_3', 'CASA_4', 'CASA_5']
CEP = ['11.111-11', '22.222-22', '33.333-33', '44.444-44', '55.555-55']
Cidade = ['SAO PAULO', 'BELO HORIZONTE', 'CURITIBA', 'RIO DE JANEIRO', 'GOIANIA']
Fone = ['(11) 1111-1111', '(22) 2222-2222', '(33) 3333-3333', '(44) 4444-4444', '(55) 5555-5555']
CodigoDepartamento = [1, 2, 3, 4, 5]
Funcao = ['ELETRICISTA', 'PEDREIRO', 'MOTORISTA', 'VIGIA', 'MANOBISTA']
Salario = [500, 900, 1200, 1500, 2000]
for i in range(100):
    numeros = random.sample(range(5), k=3)
    nome1 = nomes[numeros[0]]
    nome2 = nomes[numeros[1]]
    nome3 = nomes[numeros[2]]
    cursor.execute(f"""INSERT INTO Funionarios 
    VALUES ({i+1}, '{nome1}', '{nome2}', '{nome3}', '{DataNasci[numeros[3]]}',
    '{CPF[numeros[2]]}', '{RG[numeros[1]]}', '{Endereco[numeros[0]]}', '{CEP[numeros[3]]}', '{Cidade[numeros[2]]}',
    '{Fone[numeros[1]]}', '{CodigoDepartamento[numeros[0]]}', '{Funcao[numeros[3]]}', '{Salario[numeros[2]]}')""")
    banco.commit()
banco.commit()

In [ ]:
#Criando tabela Departamentos
cursor.execute("""
CREATE TABLE "Departamentos" (
    "Codigo"	INTEGER,
    "Nome"	TEXT,
    "Localizacao"	TEXT,
    "CodigoFuncionarioGerente"	INTEGER,
    PRIMARY KEY("Codigo")
);
""")

In [ ]:
# Populando Departamentos
cursor.execute("INSERT INTO Departamentos VALUES (1, 'LOGISTICA', 'SAO PAULO', 1)")
cursor.execute("INSERT INTO Departamentos VALUES (2, 'COMERCIAL', 'CURITIBA', 1)")
cursor.execute("INSERT INTO Departamentos VALUES (3, 'SEGURANCA', 'BELO HORIZONTE', 1)")
cursor.execute("INSERT INTO Departamentos VALUES (4, 'TECNOLOGIA', 'RIO DE JANEIRO', 1)")
cursor.execute("INSERT INTO Departamentos VALUES (5, 'FINANCEIRO', 'SALVADOR', 1)")
banco.commit()

In [ ]:
# Exercicio A
cursor.execute("""SELECT Funionarios.PrimeiroNome, Funionarios.SegundoNome
                FROM Funionarios
                ORDER BY Funionarios.SegundoNome;
                """)
a = cursor.fetchall()
for i in range (0, len(a)):
    print(a[i])

In [ ]:
# Exercicio B
cursor.execute("""SELECT Funionarios.*
                FROM Funionarios
                ORDER BY Funionarios.Cidade;
                """)
b = cursor.fetchall()
for i in range (0, len(b)):
    print(b[i])

In [ ]:
# Exercicio C
cursor.execute("""SELECT Funionarios.*
                FROM Funionarios
                WHERE (((Funionarios.Salario)>1000));
                """)
c = cursor.fetchall()
for i in range (0, len(c)):
    print(c[i])

In [ ]:
# Exercicio D
cursor.execute("""SELECT Funionarios.PrimeiroNome, Funionarios.DataNasci
                FROM Funionarios
                ORDER BY Funionarios.DataNasci;
                """)
d = cursor.fetchall()
for i in range (0, len(d)):
    print(d[i])

In [ ]:
# Exercicio E
cursor.execute("""SELECT Sum(Funionarios.Salario) AS [Folha]
                FROM Funionarios;
                """)
e = cursor.fetchall()
for i in range (0, len(e)):
    print(e[i])

In [ ]:
# Exercicio F
cursor.execute("""SELECT Funionarios.PrimeiroNome, Departamentos.Nome, Funionarios.Funcao
                    FROM Departamentos INNER JOIN Funionarios ON Departamentos.Codigo = Funionarios.CodigoDepartamento;
                """)
f = cursor.fetchall()
for i in range (0, len(f)):
    print(f[i])

In [ ]:
# Exercicio G
cursor.execute("""SELECT count (distinct Funionarios.Codigo) AS total_funcionarios
                    FROM Funionarios;
                """)
g = cursor.fetchall()
for i in range (0, len(g)):
    print(g[i])

In [ ]:
# Exercicio H
cursor.execute("""SELECT Departamentos.Nome, Funionarios.PrimeiroNome
                FROM Departamentos INNER JOIN Funionarios ON Departamentos.Codigo = Funionarios.CodigoDepartamento
                ORDER BY Departamentos.Nome, Funionarios.PrimeiroNome;
                """)
h = cursor.fetchall()
for i in range (0, len(h)):
    print(h[i])